 /* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255,255,255,0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.carousel_text {
  color: #f2f2f2;
  font-size: larger;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: #2224;
}

.carousel_text_small {
  color: #ffffff;
  font-size: medium;
  padding: 8px 12px;
  position: relative;
  bottom: 70px;
  width: 100%;
  text-align: center;
  background: #1116;
}

.carousel_text_small * {
  padding: 0;
  margin: 0;
  /* background: #333; */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 14px;
  padding: 28px 12px;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 

/* Copy-pasted css ends here */
/* Custom css begins here */

#main .carousel_text_small strong {
  color: #ffffff;
  font-size: 16px;
}
