img {
    width: 100%;
}

.image_simple {
    display: inline-block;
    position: relative;
    width: 100%;
}
.image_simple img {
    width: 100%;
}

#header.alt {
    padding: 0em;
    min-height: 30vh;
    background: #0097bcff no-repeat url(/static/images/banner.jpg);
}
#header.alt p {
    margin: 0em;
    padding: 0em;
}
#header.alt h1 {
    margin: 0em;
    padding: 3em 0em 0.2em 0em;
}
#lang_picker {
    /* font-size: xx-large; */
    /* position: unset; */
    text-align: right;
    /* padding: 5px; */
}
#lang_picker p {
    font-size: larger;
}
#lang_picker a {
    border: none;
}
#summary_section > p {
    margin: 0em 0em 0.4em 0em;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main .button {
    background: lightyellow
}

@media screen and (min-width: 980px) {
    #awards_pictures img {
        padding: 0px;
        margin: 0px;
        width: 33%;
    }
}
@media screen and (max-width: 980px) {
    #awards_pictures img {
        padding: 0px;
        margin: 0px;
        width: unset;
    }
}

.link {
  padding: 0;
  height: 100px;
  overflow: clip;
}
.link a > div {
  position: relative;
}
.link h3 {
    position: absolute;
    padding: 0.3em;
    width: 100%;
    background: #1119;
    color: white;
    z-index: 1;
}
.link img {
  position: absolute;
  transform: translate(-50%, -25%);
}
