<!DOCTYPE HTML>
<!--
    Stellar by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Falun Dafa Lietuvoje</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% block head %}
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/custom.css" />
        <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
        {% endblock head %}
    </head>
    <body class="is-preload">
            <div id="wrapper">
                <header id="header" class="alt">
                {% block title %}
                    <!-- <h1>Falun Dafa Lietuvoje</h1> -->
                    <div id="lang_picker">
                        <p style="margin-right: 1em;">Kitos kalbos:&ensp;
                        <a href="https://FalunInfo.net">🇬🇧</a>
                        <a href="https://FalunInfo.ru">🇷🇺</a>
                        <a href="https://pl.FalunInfo.net">🇵🇱</a>
                        </p>
                    </div>   
                    <a  href="/"><h1 id="return_home">Falun Dafa Lietuvoje</h1></a>
                {% endblock %}
                </header>
                {% block nav_head %}
                <nav id="nav">
                    <ul>
                        {% block nav %}

                        <!-- <li><a href="#intro" class="active">Introduction</a></li> -->
                        <!-- <li><a href="#first">First Section</a></li> -->
                        <!-- <li><a href="#second">Second Section</a></li> -->
                        <!-- <li><a href="#cta">Get Started</a></li> -->
                        {% endblock %}
                    </ul>
                </nav>
                {% endblock %}
                <div id="main">
                {% block main %}
                {% endblock %}
                {% block next_links %}
                {% endblock %}
                </div>
                {% block footer %}
                    <footer id="footer">
                        <section id="summary_section">
                            <h2>Apibendrinimas</h2>
                            <p>Falun Dafa buvo pristatytas visuomenei 1992 m. ir greitai tapo populiariausia dvasine praktika Kinijoje.</p>
                            <p>Iki 1999 m. jį praktikavo 100 mln. žmonių. Tą vasarą prasidėjo persekiojimas.</p>
                            <p>Nuo to laiko praktikuojantys stengiasi atskleisti tikrąją padėtį ir sumažinti persekiojimą.</p> <p>
                            <p>Kartais pasitelkiamas vaizduojamasis menas ir muzika. Tai taip pat padeda atkurti tradicinę kultūrą.</p>
                            <ul class="actions">
                                <li><a class="button" href="/kas_tai.html">Kas tai Falun Dafa?</a></li>
                                <!-- <li><a class="button" href="/apjuodinimas.html">Nesusipratimai</a></li> -->
                                <li><a class="button" href="/istorija.html">Istorija</a></li>
                            </ul>
                            <ul class="actions">
                                <li><a class="button" href="/persekiojimas.html">Kodėl persekioja?</a></li>
                                <li><a class="button" href="/irodymai.html">Įrodymai</a></li>
                            </ul>
                            <!-- <ul class="actions"> -->
                            <!--     <li><a class="button" href="/istorija.html">Istorija</a></li> -->
                            <!--     <li><a class="button" href="/teisingos_mintis.html">Teisingos mintis</a></li> -->
                            <!-- </ul> -->
                            <!-- <ul class="actions"> -->
                            <!--     <li><a class="button" href="/muzika.html">Muzika</a></li> -->
                            <!--     <li><a class="button" href="/menas.html">Menas</a></li> -->
                            <!--     [> <li><a class="button" href="/knygos.html">Knygos</a></li> <] -->
                            <!--     [> <li><a class="button" href="/filmos.html">Filmai</a></li> <] -->
                            <!--     [> <li><a class="button" href="/veikla.html">Veikla Lietuvoje</a></li> <] -->
                            <!--     [> <li><a class="button" href="/kontaktai.html">Kontaktai</a></li> <] -->
                            <!-- </ul> -->
                        </section>
                        <section>
                            <h2>Kontaktai</h2>
                            <dl class="alt">
                                <!-- <dt>Address</dt> -->
                                <!-- <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd> -->
                                <dt>Telefonas</dt>
                                <dd>+370 61722581</dd>
                                <dt>el.&nbsp;paštas</dt>
                                <dd><a href="mailto:falun.dafa@inbox.lt">falun.dafa@inbox.lt</a></dd>
                            </dl>
                            <!-- <ul class="icons"> -->
                                <!-- <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li> -->
                                <!-- <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li> -->
                                <!-- <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li> -->
                                <!-- <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li> -->
                                <!-- <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li> -->
                            <!-- </ul> -->
                            <h2>Materialai</h2>

                            <ul>
                                <li>Džuan Falun lietuvių kalba (<a href="/static/images/Zhuan_Falun_Lithuanian.pdf">pdf</a>)</li>
                                <li>Gatvėje dalijamos skrajutės apie persekiojimą formali versija. (<a href="/static/images/apie-persekiojima-v1.pdf">pdf</a>, <a href="/static/images/apie-persekiojima.md">md</a>)</li>
                                <li>Gatvėje dalijamos skrajutės apie persekiojimą spalvota versija. (<a href="/static/images/apie-persekiojima-v2.pdf">pdf</a>, <a href="/static/images/apie-persekiojima-v2.zip">zip</a>)</li>
                                <!-- <li>Ši svetainė talpinama su <a href="/static/images/https://gitlab.com/falundafalt/falundafalt.gitlab.io">GitLab</a> pagalba. Jei norite ką nors patobulinti, drąsiai sukurkite pull rekvestą.</li> -->
                                <li>Pasenusi skrajutė apie praktiką. (<a href="/static/images/Lithuanian_Falun_Dafa_General_introduction_V20170903.pdf">pdf</a>)</li>
                                <li>Lipdukas. (<a href="/static/images/lipdukas.jpg">jpg</a>, <a href="/static/images/lipdukas.svg">svg</a>)</li>
                                <!-- <li>Some older flyers can be fonud <a href="https://www.clearharmony.net/flyers-in-european-languages#Lithuania">here</a>.</li> -->
                                <li>Puslapis kuri pridėti knygos pradžoje. (<a href="/static/images/Falun_page.svg">svg</a>)</li>
                            </ul>
                        </section>
                        <!-- <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p> -->
                    </footer>
                            <h5>Padėkos</h5>
                            <p><em>Stellar</em> - Just another free, fully responsive site template built by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a>.</p>
                {% endblock %}
            </div>
        <!-- Scripts -->
            {% block scripts %}
            <script src="static/js/jquery.min.js"></script>
            <script src="static/js/jquery.scrollex.min.js"></script>
            <script src="static/js/jquery.scrolly.min.js"></script>
            <script src="static/js/browser.min.js"></script>
            <script src="static/js/breakpoints.min.js"></script>
            <!-- <script src="static/js/htmx.min.js"></script> -->
            <script async defer src="https://scripts.withcabin.com/hello.js"></script>
            <script src="static/js/util.js"></script>
            <script src="static/js/main.js"></script>
            {% endblock %}

    </body>
</html>
