{% extends "base.html" %}
{% block nav %}
    <li><a href="#kas_tai" class="active">Apie praktiką</a></li>
    <li><a href="#persekiojimas">Persekiojimas</a></li>
    <li><a href="#organu_paemimas">Priverstinis organų paėmimas</a></li>
    <li><a href="#istorija">Istorija</a></li>
{% endblock %}
{% block main %}
<section id="kas_tai" class="main special">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Falun Dafa</h2>
            </header>
            <p>Falun Dafa - tai tobulinimosi praktika, kurios pagrindiniai principai yra Tiesa, Gerumas, Kantrybė. Nors ši praktika visuomenei buvo pristatyta tik 1992 metais, jos šaknys siekia tūkstančius metų.</p>
            <!-- 真、善、忍 -->
            <ul class="features">
                <li>
                    <span class="icon solid major style1" style="font-size: 90px; margin: 10px; padding: 30px 60px 30px 60px;">真</span>
                    <h3>Tiesa</h3>
                    <p>Sakyti tiesą, būti nuoširdu, būti sąžiningu ir aiškiu, būti patikimu ir ištikimu, laikytis duoto žodžio. Būti nepriklausomu ir savarankišku.</p>
                </li>
                <li>
                    <span class="icon major style3" style="font-size: 90px; margin: 10px; padding: 30px 60px 30px 60px;">善</span>
                    <h3>Gerumas</h3>
                    <p>Būti maloniam ir supratingam. Rodyti užuojautą, susilaikyti nuo agresijos ir smurto. Nesakyti blogų žodžių. linkėti kitiems gero. Išlaikyti geros širdies ir geros valios.</p>
                </li>
                <li>
                    <span class="icon major style5" style="font-size: 90px; margin: 10px; padding: 30px 60px 30px 60px;">忍</span>
                    <h3>Kantrybė</h3>
                    <p>Stiprinti valią. Už smūgį neatsakyti smūgiu. Nelaikyti nuoskaudų ir pykčio. Neįsižeisti. Gebėti atsisakyti asmeninių interesų.</p>
                </li>
            </ul>
            <footer class="major">
                <ul class="actions special">
                    <li><a class="button" href="/kas_tai.html">Daugiau apie praktiką</a></li>
                </ul>
			</footer>
        </div>
    </div>
</section>
<section id="persekiojimas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h3>Šimtai milijonų žmonių Kinijoje patiria persekiojimą</h3>
            </header>
            <p>1999 metais Kinijoje buvo 100 milijonų Falun Dafa praktikuotojai. Dėl šios praktikos populiarumo ir nepriklausomybės komunistų lyderis įsakė ją „išnaikinti”. Milijonai žmonių buvo sulaikyti arba įkalinti. Daugiau kaip 100 000 jų buvo kankinami arba patyrė prievartą sulaikymo metu, o tūkstančiai mirė nuo kankinimų sulaikymo metu.</p>
            <ul class="actions">
                <li><a class="button" href="/persekiojimas.html">Kodėl persekioja?</a></li>
            </ul>
        </div>
        <span class="image" style="margin-left: 0em;"><img src="static/images/why_persecution2.jpg" alt="" /></span>
    </div>
</section>
<section id="organu_paemimas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
            <h3>Priverstinis organų paėmimas</h3>
            </header>
            <p>Komuniztinis režimas žudo Falun Dafa praktikuotojus, kad jų organai būtų panaudoti Kinijoje sparčiai augančiam organų persodinimo verslui. 2019 metais birželį Londone įsikūręs nepriklausomas tribunolas padarė išvadą, kad „Falun Dafa” praktikuotojai buvo ir tebėra žudomi dėl jų organų „dideliu mastu”.</p>
            <ul class="actions">
                <li><a class="button" href="/irodymai.html">Įrodymai</a></li>
            </ul>
        </div>
        <span class="image"><img src="/static/images/Organ-Crimes-1.jpg" alt="" /></span>
    </div>
</section>
<section id="istorija" class="main">
    <div class="spotlight">
        <!-- <span class="image left" style="margin-left: 0em;"><img src="images/pic01.jpg" alt="" /></span> -->
        <div class="content">
            <header class="major">
            <h3>Taikingas pasipriešinimas</h3>
            </header>
            <p>
                Dauguma nesitikėjo, kad pradėjęs taikią dvasinę praktiką, skirtą sveikatai pagerinti, žmogus galiausiai susidurs su dar neregėtu blogiu.
                Tikroji Falun Dafa istorija yra nepakartojama.
                Milijonai žmonių buvo įkvėpti pakilti iš blogosios komunistų partijos kultūros ir tapti geresniais.
                Tik tam, kad susidurtų su vis didesniu pasipriešinimu.
            </p>
            <ul class="actions">
                <li><a class="button" href="/istorija.html">Istorija</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}


