
{% extends "base.html" %}
{% block nav %}
    <li><a href="#saknys" class="active">Šaknys</a></li>
    <li><a href="#kulturinis_atsinaujinimas">Kultūrinis atsinaujinimas</a></li>
    <li><a href="#stebuklai">Stebuklai</a></li>
    <li><a href="#tikrieji_dalykai">Tikrieji dalykai</a></li>
    <li><a href="#pripazinimas">Pripažinimas</a></li>
    <li><a href="#plitimas_visuomeneje">Plitimas visuomenėje</a></li>
    <li><a href="#virsune">Viršūnė</a></li>
    <li><a href="#apdovanojimai">Apdovanojimai</a></li>
{% endblock %}

{% block main %}
<section id="saknys" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
  <h2>Beveik prarastos senovinės šaknys</h2>
            </header>
  <p><strong>Tikroji tradicinė kinų kultūra yra gili ir senovinė. Tai kultūra, kurioje gerbiamas dieviškumas ir gyvenimas pagal "Kelią" - laikantis harmonijos su dangumi ir žeme.</strong></p>

<p>Tradicinė kinų kultūra apima keletą dvasinių disciplinų ir filosofijų.
Daoizmas pabrėžia tiesą ir sąžiningumą.
Budizmas skatina užuojautą.
Konfucianizmas moko, kaip palaikyti santykius pagal "Kelią", remdamasis tokiais principais kaip teisingumas, pamaldumas ir tolerancija.</p>

<p>Šie gilūs mokymai tūkstantmečius buvo kinų civilizacijos pagrindas - civilizacijos, kuri didžiąją savo istorijos dalį buvo galinga kultūriniu, ekonominiu ir kariniu atžvilgiu.</p>

<p>Nuo 1800 m. Kinija patyrė daug karinių pralaimėjimų ir stichinių nelaimių. Kartu buvo prarastas ryšys su didele dalimi jos kultūros esmės.</p>

<h3>Tradicinės kinų kultūros naikinimas</h3>

<p>1949 m. Kinijoje valdžią užgrobė komunistinis režimas, dėl kurio ir taip kenčianti tauta dar labiau smuko žemyn. Per kitus kelis dešimtmečius KKP ne kartą pradėjo smurtines politines kampanijas, per kurias žuvo dešimtys milijonų žmonių. Daugelis Kinijos žmonių vis labiau skurdo, bijojo ir buvo atskirti nuo savo autentiško paveldo didybės.</p>

<img src="/static/images/CulturalRevolution1-1024x576.jpg" title="Proletarinė kultūrinė revoliucija iš Kinijos visuomenės pašalino tradicinius elementus.">

    <p>(kairėje) Viešas kultūros elito ir religinių lyderių pažeminimas. (centre) Senovinių knygų ir šventraščių deginimas. (dešinėje) Budos statulų deginimas ir naikinimas. Daug garsių šventyklų, šventovių ir kitų paveldo objektų visoje Kinijoje buvo sugriauta, o šventieji atvaizdai pakeisti pirmininko Mao Dzedono nuotraukomis. </p>
        </div>
    </div>
</section>
<section id="kulturinis_atsinaujinimas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Falun Dafa ir kultūrinis atsinaujinimas</h2>
            </header>
    <p>Kai 1992 m. gegužę Li Hundži visuomenei pristatė Falungun, jis paviešino ne tik sveikatą ir savijautą gerinančią ciguno praktiką. Falungun simbolizavo senų, gerų Kinijos dalykų atradimą iš naujo.</p>

    <p>Falun Dafa yra tiesioginis ir autentiškas ryšys su tikrąja tradicine kinų kultūra, o jį įdiegus Kinijos žmonėms buvo sugrąžinta šių gilių tradicijų transformuojanti galia.</p>

    <p>1999 m. - praėjus vos septyneriems metams po pirmojo pristatymo visuomenei - visoje Kinijoje praktikavo 100 mln. žmonių.</p>

    <p>Taigi, kai kinų tauta ruošėsi žengti į XXI amžių, valdant komunistinei tironijai, o didelė dalis gyventojų stengėsi užsitikrinti ekonominį saugumą, Falun Dafa sukėlė tradicinės kinų kultūros atgimimą.</p>

  <h3> Falun Dafa iškilimas</h3>

  <p><strong>Išgyvenę Kultūrinę revoliuciją (1966-1976 m.) ir patyrę didelių traumų, kinai ieškojo galimybių atkurti ryšį su senosiomis dvasinėmis tradicijomis, tuomet nerizikuodami būti pasmerkti kaip atsilikėliai ar kontrrevoliucionieriai. Kad ir kaip Kinijos komunistų partija stengėsi išnaikinti senąsias kinų dvasines praktikas, siekdama įtvirtinti klasių kovą ir ateizmą kaip naująją Kinijos kultūrą, ji negalėjo ištrinti tradicinių dvasinių įsitikinimų iš žmonių širdžių. </strong></p>


<!-- <h3>Nuolanki Falun Dafa pradžia</h3> -->

<p>1990-ųjų pradžioje Kinijoje kilo didžiulė ciguno šėlsmo banga. Tuo metu daugybė ciguno mokytojų varžėsi dėl pasekėjų. Netikėtai scenoje pasirodė vienas mokytojas, kuris atkreipė visos Kinijos dėmesį. </p>

<div>

<div style="text-align: center;">
<div style="margin: 0px;" class="image">
    <img src="/static/images/Master-Li-Hongzhi__800px-300x169.jpg" title="Li Hundži, Falun Dafa įkūrėjas.">
</div>
    <label>
        Li Hundži, Falun Dafa įkūrėjas.
    </label>
</div>

<p>Li Hundži gimė šiaurės rytiniame Čangčuno mieste, jaunystėje mokėsi pas budizmo ir daoizmo mokytojus. 1992 m., dvejus metus dirbęs su nedidele mokinių grupe ir stebėjęs, ar Falun Dafa praktika tinkama skleisti visuomenėje, ponas Li supažindino plačiąją visuomenę su senoviniu tradiciniu tobulėjimo metodu. </p>

<p>Li Hundži gimė šiaurės rytiniame Čangčuno mieste, jaunystėje mokėsi pas budizmo ir daoizmo mokytojus. 1992 m., dvejus metus dirbęs su nedidele mokinių grupe ir stebėjęs, ar Falun Dafa praktika tinkama skleisti visuomenėje, ponas Li supažindino plačiąją visuomenę su senoviniu tradiciniu tobulėjimo metodu. </p>

</div>

<p>Jo paskaitos skyrėsi nuo kitų ciguno mokytojų paskaitų, nes jis nuolat akcentavo moralės normas ir savęs tobulinimą.</p>

<p>1992 m. gegužės 13 d. Li Hundži skaitė pirmąją paskaitą apie Falungun. Mažoje mokyklėlėje Čangčuno mieste, esančiame šiaurės rytų Kinijoje, paskaitos klausėsi apie 180 klausytojų. </p>

<p>Po penkių mėnesių Kinijos valstybinė Ciguno mokslo tyrimų asociacija pripažįsta Falungun kaip oficialų jo padalinį. Ponas Li oficialiai paskelbiamas 'Ciguno meistru' ir gauna leidimą mokyti Falungun visoje šalyje. </p>
        </div>
    </div>
</section>
<section id="stebuklai" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>„Falungun yra stebuklingas!“</h2>
            </header>
            <div class="slideshow-container">
                <div style="text-align:center">
                    <span class="dot health_expo_dot" onclick="currentSlide(1, 'health_expo')"></span>
                    <span class="dot health_expo_dot" onclick="currentSlide(2, 'health_expo')"></span>
                    <span class="dot health_expo_dot" onclick="currentSlide(3, 'health_expo')"></span>
                    <span class="dot health_expo_dot" onclick="currentSlide(4, 'health_expo')"></span>
                    <span class="dot health_expo_dot" onclick="currentSlide(5, 'health_expo')"></span>
                    <span class="dot health_expo_dot" onclick="currentSlide(6, 'health_expo')"></span>
                </div>
                <div onclick="plusSlides(1, 'health_expo')">

                  <div class="mySlides health_expo fade">
                          <div class="numbertext">1 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo-2-1024x576.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Li Hongzhi teikia cigungo terapiją Azijos sveikatos parodos dalyviams 1992 m.</strong>
            Parodoje ponas Li Hundži ir jo mokiniai naudojo savo gydomuosius gebėjimus, kad gydytų žmones. Žinia „Falun Gong yra stebuklingas” greitai pasklido tarp parodoje susirinkusių žmonių.
                </p>
                </div>
                  </div>


                  <div class="mySlides health_expo fade">
                          <div class="numbertext">2 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo3-1024x576.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Li Hongzhi teikia cigungo terapiją Azijos sveikatos parodos dalyviams 1992 m.</strong>
            Vyriausiasis parodos vadovas Li Rusonas sakė: „Parodoje Falungun sulaukė didžiausio pripažinimo, ir jo gydymo rezultatai buvo geri.” Parodos generalinis patarėjas profesorius Dzan Sjuegui sakė: „Būdamas parodos generalinis patarėjas, imuosi atsakomybės ir visiems rekomenduoju Falungun. Tikiu, kad ši praktika tikrai atneš žmonėms gerą sveikatą ir naują dvasinį požiūrį."
                </p>
                </div>
                  </div>


                  <div class="mySlides health_expo fade">
                          <div class="numbertext">3 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo_Patient-on-back.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Atvežti pacientą gydyti pas poną Li.</strong>
            Kaip dokumentiniame filme "Dabar ir ateičiai" (Now And For The Future) prisimena parodos darbuotoja ponia Jan Li, „Pagalvojau, argi nebūtų puiku, jei šią akimirką galėtų įrašyti televizijos stotis? Šis žmogus buvo išgydytas per kelias sekundes. Tada pamačiau, kaip vidutinio amžiaus vyras, tikriausiai jos sūnus, akimirksniu atsiklaupė priešais poną Li. Jis taip pat buvo labai susijaudinęs, juk tai buvo jo motina, kuri buvo išgydyta. Ponas Li tarė tam vyrui: "Kelkis, kelkis, kelkis", tarsi tai, ką jis padarė, būtų buvę niekas. Taip ir buvo. Todėl neaišku, kiek tokių žmonių kaip ji jis išgydė per dieną”.
                </p>
                </div>
                  </div>


                  <div class="mySlides health_expo fade">
                          <div class="numbertext">4 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo2-1-1024x576.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Parodos pacientas atsiklaupia ant kelių ir dėkoja ponui Li už išgydymą.</strong>
            Buvo ir keletas paralyžiuotų pacientų, kurie vietoje atsistojo iš vežimėlių, nusimetė lazdas ir ėjo pirmyn. Taigi tą akimirką kai kurie žmonės atsiklaupė prieš poną Li ir išreiškė savo dėkingumą.
                </p>
                </div>
                  </div>


                  <div class="mySlides health_expo fade">
                          <div class="numbertext">5 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo_Autographs.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Parodos dalyviai, prašantys pono Li autografo ant Falungun knygos.</strong>
            1993 m., kai tik buvo atidarytas parodų centras, daugybė žmonių nubėgo prie Falungun stendo ir sudarė tris eiles. Viena jų buvo skirta užsiregistruoti į rytinę gydymo sesiją, kita - į popietinę sesiją, o trečioji - gauti pono Li autografą ant Falungun knygos.
                </p>
                </div>
                  </div>


                  <div class="mySlides health_expo fade">
                          <div class="numbertext">6 / 6</div>
                    <img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo_Awards.jpg" style="width:100%">
                    <div class="carousel_text_small"><p>
                <strong>Falungun ir ponas Li gavo aukščiausius apdovanojimus.</strong>
            1992 m. ir 1993 m. Azijos sveikatos parodoje "Asia Health Expo" Falungun ir pono Li gydymo procedūros tapo labiausiai ieškomu reiškiniu. Parodoje ponas Li gavo daugiausiai ir aukščiausių apdovanojimų: "Apdovanojimas už pažangius mokslus", "Specialusis aukso prizas" ir "Pripažįstamiausio ciguno meistro" titulas.
                </p>
                </div>
                  </div>

                </div>
            </div>

<p><strong>1992 m. gruodis</strong> - Li kartu su keliais savo mokiniais dalyvavo Azijos sveikatos parodoje, kuri vyko Pekine. Jiems išgydžius daugybę žmonių ligų, naudojant gydymą cigunu, žinia „Falungun yra stebuklingas” nuskambėjo per visas parodos dalyvių mases. </p>

<p>Li gavo daugiausiai apdovanojimų iš visų renginyje dalyvavusių meistrų. Tai leido Falungun įsitvirtinti ciguno arenoje. Susidomėjimas Falungun iš karto smarkiai išaugo. </p>


<p><strong>1992-1994 m.</strong> - reaguodamas į visuotinę paklausą, šiais metais ponas Li beveik be sustojimo keliauja po visą Kiniją. Per dvejus metus, tarp kelionių praleisdamas vos po kelias dienas, Li skaitė 54 paskaitų ciklus apie Falungun. Seminarai, kuriuos dažnai rengdavo vietinės valstybinės cigungo organizacijos, paprastai trukdavo 8-10 dienų.</p>

<p>Ponas Li ėmė tik nedidelius mokesčius, kad padengtų kelionės ir patalpų nuomos išlaidas. Nors jis niekada nereklamavo savo paskaitų, iš lūpų į lūpas greitai pasklido informacija apie šios praktikos naudą sveikatai, kuri galiausiai pritraukė tūkstančius lankytojų. </p>

<img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Lecture-1993-1024x576.jpg" title="Pono Li paskaita apie Falungun Vuhane, 1993 m.">

<h3>Falungun mokymai skiriasi nuo kitų ciguno mokyklų.</h3>

<p>Falungun moko tiesos, gerumo ir pakantumo principų. Jame akcentuojamas charakterio ugdymas ir dorybė, o ne antgamtinės galios, kaip tikrasis kelias į sveikatą ir dvasinį pakilimą. </p>

<p>Iš pradžių daugelį žmonių Falungun patraukė dėl jo gydomojo poveikio. Tačiau svarbi Falungun paplitimo priežastis taip pat buvo paprasti ir nesudėtingi reikalavimai praktikuojantiems: Reikia gyventi pagal tiesą, gerumą ir pakantumą, atsisakyti neigiamų prisirišimų ir būti atsakingam prieš save ir kitus. Ponas Li neskatino fanatizmo, kurį kitų ciguno mokyklų praktikuotojai taip dažnai skirdavo savo mokytojams, o skatino Falungun praktikuotojus susitelkti į tai, kas svarbiausia - tapti geresniu žmogumi. </p>
        </div>
    </div>
</section>
<section id="tikrieji_dalykai" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>„Tikrieji senoviniai, geri dalykai sugrįžo!”</h2>
            </header>
<p>Kinijos visuomenė greitai pripažino, kad Falungun yra tikrai naudingas prasmingo gyvenimo principų rinkinys. Tai pritraukė žmones iš visų visuomenės sluoksnių, įskaitant vos raštingus ūkininkus, universitetų profesorius, namų šeimininkes ir komunistų kadrus. </p>

<p>Kinijos žmonės, susidūrę su Falungun, nepriklausomai nuo to, ar jie pasirinko jį praktikuoti, ar ne, dažniausiai manė, kad atgimė tikrasis Kinijos paveldas. Kaip pasakoja į pensiją išėjęs Kinijos pareigūnas Hao Je: „Žmonės iš tiesų priėmė tai į širdį. Mes tikime, kad per Falungun sugrįžo tikri senoviniai, geri dalykai!”</p>

<h3>Kinijos viešojo saugumo ministerijos pagyrimai</h3>

<p><strong>1993 m. rugpjūčio 30 d.</strong> - Kinijos komunistų partijos centrinio komiteto Viešųjų ryšių departamentas ir Viešojo saugumo ministerija surengė nacionalinę teisingumo ir drąsos didvyrių pripažinimo konferenciją. </p>

<p>Organizatoriai pakvietė poną Li Hundži, kad jis konferencijos dalyviams suteiktų ciguno terapiją ir palengvintų jų skausmus. Tarp šimto dalyvių daugelis buvo sužeisti ir neįgalūs kovodami su nusikalstamumu, vis dar kenčiantys nuo įvairių simptomų net ir po reguliaraus gydymo. Daugelis patyrė ilgalaikių sveikatos komplikacijų dėl durtinių, šautinių ir kitų sužeidimų. Gavus gydymą išnyko simptomai, įskaitant skausmą, galvos skausmą, nuovargį ir svaigimą. </p>

<div>

<figure>
    <img style="max-width: 400px;" src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Public-Security-Letter-300x169.jpg" title="">
    <figcaption>
<strong>Padėkos raštas - 1993 m. rugpjūčio 31 d.</strong> Kinijos teisingumo ir drąsos fondas, Viešojo saugumo ministerijos filialas, parašė padėkos raštą po to, kai Li Hundži fondo garbės nariams suteikė ciguno procedūras.
    </figcaption>
</figure>

<p>„Kai kuriems po gydymo išnyko augliai, kai kuriems per 24 valandas po gydymo išnyko tulžies pūslės akmenys, kai kurie, sergantys skrandžio, širdies ar sąnarių ligomis, iškart po gydymo pajuto, kad jų simptomai pašalinami vietoje. Iš šių beveik 100 pacientų, išskyrus vieną, kuris sirgo nedidele liga ir nepajuto akivaizdaus poveikio, visi kiti pajuto dramatišką įvairaus laipsnio gydymo poveikį. Tokių gydymo seansų galingas poveikis buvo labai gerai įvertintas”, - teigiama organizatorių padėkos laiške.</p>

</div>

<img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Lecture-PublicSecurity-1024x576.jpg" title="1993 m. gruodis - Li yra pakviestas skaityti Falungun paskaitą Viešojo saugumo ministerijos universiteto auditorijoje Pekine.">
        </div>
    </div>
</section>
<section id="pripazinimas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>Ponas Li paskelbtas labiausiai pripažintu cigun meistru, Falungun Azijos sveikatos parodoje gauna aukščiausius cigun apdovanojimus</h2>
            </header>
<p><strong>1993 m. gruodis</strong> - Praėjus vos pusantrų metų po to, kai visuomenei buvo pristatytas Falungun, Li jau gavo specialų kvietimą dalyvauti 1993 m. Azijos sveikatos parodoje kaip vienas iš organizacinio komiteto narių. </p>

<div>

<figure>
    <img width=300 src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Master-Li-Healing-Asia-Expo_Awards.jpg">
    <figcaption>
        <strong>Aukščiausi apdovanojimai</strong> - ponas Li parodoje gavo daugiausiai ir aukščiausių apdovanojimų: "Apdovanojimas už pažangos pasiekimus pasienio moksluose", "Specialusis aukso prizas" ir "Labiausiai pripažinto cigun meistro" titulas.
    </figcaption>
</figure>

<p>Nors Li savo mokymuose aiškino, kad Falungun tikslas nėra ligų gydymas ir kad jis su savo mokiniais dalyvavo parodoje, norėdamas palaikyti valstybės remiamą cigun renginį, iš tikrųjų 93 m. paroda tapo didžiule Falungun proga. Prie kitų cigun stendų lankėsi nedaug žmonių, o prie Falungun stendo buvo pilna žmonių, ilgos eilės laukė gydomųjų procedūrų ir autografų.</p>

<p>Galingas gydomasis Falungun poveikis šiuo metu buvo neabejotinas, todėl parodos komitetas ir Cigun specialistų komitetas sutarė, kad aukščiausias parodos apdovanojimas - "Apdovanojimas už pažangą pasienio mokslų srityje". - turėtų būti įteiktas ponui Li Hundži. Jis taip pat gavo "Specialųjį aukso prizą" ir "Labiausiai pripažinto cigun meistro" titulą. Falungun žinomumas labai išaugo. </p>

</div>
        </div>
    </div>
</section>
<section id="plitimas_visuomeneje" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>Greitas ir nemokamas praktikos plitimas visuomenėje</h2>
            </header>
<p>Nors rytiniai grupiniai ciguno pratimai yra įprastas vaizdas Kinijos parkuose, tačiau Falungun praktikos vietose dalyvių skaičius buvo neįprastas. </p>

<p>Savanoriai nemokamai mokė pratimus visiems, kurie norėjo jų išmokti. Kai viena pratybų vieta tapdavo per didelė, praktikuotojai savanoriškai pradėdavo rengti naujas kitose vietose.</p>

<div id="spreading_publicly"></div>

<h3>Valstybinė žiniasklaida: Nuostabus gydomasis poveikis. Gerieji samariečiai ir didvyriai.</h3>

<p>Apie šią praktiką vis dažniau kalbama, visų pirma dėl jos naudos sveikatai ir pilietiškumo skatinimo. Vis dažniau pasirodo pranešimai apie didvyriškus ir dorybingus poelgius, geresnę moralę ir nesavanaudišką pagalbą vietos bendruomenėms. Viešojo saugumo ministerija savo publikacijose pripažino pono Li ir Falungun veiklą už socialinio stabilumo stiprinimą ir net apdovanojo jį Garbės raštu.</p>

<blockquote><p>„[Dėkojame ponui Li už jo indėlį] skatinant tradicines kinų tautos kovos su nusikalstamumu dorybes, saugant socialinę tvarką ir saugumą bei skatinant visuomenės teisingumą.”</p><cite>— Liaudies viešojo saugumo laikraštis (Kinijos viešojo saugumo ministerijos leidinys), 1993 m. rugsėjo 21 d.</cite></blockquote>

<p>Falungun mokė, kad tik pakėlus mąstymą ir elgesį galima pasiekti tikrą ir ilgalaikę sveikatą. Taip ir buvo. </p>

<p>1998 m. Dalianio mieste atlikta 6000 praktikuotojų apklausa parodė, kad sergantieji beveik visiškai pasveiko. Panašūs tyrimai atlikti ir kituose Kinijos miestuose bei Rusijoje. Netgi lėtiniais ir nepagydomais ligoniais, pavyzdžiui, sergančiais vėžiu, imunologinėmis ligomis ir neurologinėmis ligomis, praktikuojant Falungun ir be medikų pagalbos, buvo pastebimas ryškus arba visiškas pasveikimas.</p>

<p>1993 m. žurnalas "China Today" išspausdino straipsnį apie Falungun ir jo įkūrėją Li Hundži „Nuostabus Falungun gydomasis poveikis”. Straipsnyje rašoma: „Mokytojas Li mokė Falungun keliuose miestuose, įskaitant Pekiną. Dalyviai buvo iš centrinės valdžios, taip pat žmonės iš įvairių visuomenės sluoksnių. Buvo kariškių, profesorių, studentų ir gydytojų. Mokytis praktikos atėjo įvairaus amžiaus žmonės - nuo paauglių iki pagyvenusių žmonių. Daugelis pastebėjo, kad po praktikos pagerėjo jų protas ir sveikata”.</p>

<p>1997 m. laikraštyje "Medicina ir sveikata" buvo išspausdintas straipsnis „Falungun: Geriausias gydymo ir sveikatingumo pasirinkimas”. 1998 m. lapkričio 8 d. laikraščio reporteris apsilankė Falungun praktikos vietoje Šenjango mieste ir surinko dešimtis pasakojimų apie praktikuotojus, kurių sveikata smarkiai pagerėjo.</p>

<blockquote><p>„Akivaizdu, kad Falungun efektyviai gerina sveikatą. Daugeliui pacientų jis yra naudingas. Dauguma Falungun praktikuojančių, perėjo procesą nuo netikėjimo iki tikėjimo. Iš pradžių kai kurie pacientai tiesiog norėjo išbandyti, ar tai veikia. Matydami, kaip stebuklingai išnyko ilgalaikės ligos, jie įsitikino, kad Falungun iš tiesų gerina sveikatą.”</p><cite>— Shenzhen Star Times, 1998 m.</cite></blockquote>

<p>1998 m. laikraštyje "China Economic Times" buvo išspausdintas straipsnis „Dabar galiu stovėti!” Straipsnyje buvo rašoma apie 53 metų Sje Sjufen iš Handano kaimo Hebei provincijoje. Ji 1979 m. dėl stuburo traumos tapo paralyžiuota. Turėdama 4 vaikus, ji negalėjo pasirūpinti savimi ir turėjo pasikliauti savo motina ir vyru. Daug kartų ji galvojo apie savižudybę. 1996 m. balandį Sje sesuo, kuri su vyru abu pradėjo praktikuoti Falungun, supažindino ją su šia praktika. Po trijų mėnesių, 1996 m. liepos 1 d., ji, sėdėdama neįgaliojo vežimėlyje, nuvyko į Falungun praktiką. Po dviejų mėnesių ji nejautė jokių skausmų. Po metų Sje Sjufen jau gali vaikščioti į praktikos vietą. „Jaučiuosi kaip paukštis, norintis skristi. Žmonės, eidami kartu su manimi, vargiai gali mane pasivyti. Buvau paralyžiuota 16 metų. Mano gyvenimą pakeitė mokytojas Li Hundži. Dabar esu atgimusi iš naujo.”</p>

<p>1999 m. vasario 22 d. interviu "U.S. News ＆ World Report" Kinijos valstybinės sporto komisijos pareigūnas gyrė šią praktiką už tai, kad ji sumažino valstybės išlaidas medicinai: „Falungun ir kitų rūšių cigunas gali sutaupyti kiekvienam žmogui 1000 juanių metinių medicininių mokesčių. Jei praktikuoja 100 milijonų žmonių, tai per metus sutaupoma 100 milijardų juanių medicininių mokesčių.” Pareigūnas sakė, kad tuometinis premjeras Džu Rondzji tuo labai džiaugėsi.</p>
        </div>
    </div>
</section>
<section id="virsune" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>1 iš 13 žmonių praktikuoja Falun Dafa</h2>
            </header>
<p>Oficialiais Kinijos duomenimis, iki 1999 m. 70-100 mln. žmonių mokėsi Falun Dafa, neskaitant daugybės kitų, kurie atsitiktinai ir trumpam išbandė praktiką. Tai sudarė maždaug 1 iš 13 Kinijos gyventojų. Daugeliu atvejų ištisos šeimos iš kartos į kartą ėmėsi šios praktikos, matydamos teigiamus pokyčius, kuriuos ji sukėlė jų draugams ir giminaičiams. Beveik kiekvienas žmogus pažinojo ką nors, kas praktikavo Falun Dafa.</p>


<img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_FalunDafaCharacters_800px-768x432.jpg" title="Falun Dafa praktikuotojai Vuhane formuoja kinų kalbos simbolius - Falun Dafa. (1999 m. kovo mėn.)">

<h3>Falun Dafa mokymai plinta visame pasaulyje</h3>

<p><strong>1994 m. gruodžio 31 d.</strong> - Daliano mieste, Kinijoje, skaitęs paskutinę paskaitą, kurioje dalyvavo apie 6600 žmonių, Li pradeda mokyti Falun Dafa užsienyje. Pirmoji paskaita buvo skaityta Paryžiuje, Kinijos ambasadoje, inicijuota Kinijos ambasadoriaus Prancūzijoje kvietimu. Paryžiuje buvo surengtos septynių dienų pamokos, o gegužės mėn. sekė antroji serija Švedijos miestuose Geteborge, Stokholme ir Uddevalloje.</p>

<p>1998 m. Kinijos valstybės kontroliuojama televizija atvirai propaguoja Falun Dafa, skelbdama, kad „100 milijonų žmonių visame pasaulyje mokosi Falun Dafa”. </p>

<iframe loading="lazy" title="Šanchajaus televizijos ataskaita: 100 milijonų žmonių visame pasaulyje mokosi Falun Dafa (Falungun)" src="https://player.vimeo.com/video/383124018?h=532f415611" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" width="100%" height="360" frameborder="0"></iframe>

<h2>Falun Dafa populiarumo viršūnė ir pirmieji valstybės priespaudos požymiai</h2>

<p>Kinijoje ir visame pasaulyje vis labiau populiarėjant Falun Dafa, pasirodė pirmieji valstybės priespaudos požymiai.</p>

<p>Netrukus po to, kai "Džuan Falun" sausio, kovo ir balandžio mėnesiais "Beijing Youth Daily" įtraukė į bestselerių sąrašą, Kinijos naujienų leidybos biuro, priklausančio Propagandos ministerijai, įsakymu uždrausta leisti Falun Dafa knygas. Dokumente Falun Dafa kaltinamas "prietarų skleidimu". Tais pačiais metais ponas Li persikelia į JAV. </p>

<p><strong>1996 m.</strong> Falun Dafa pasitraukia iš Kinijos cigun mokslo tyrimų asociacijos, kad praktika būtų apsaugota nuo politinės įtakos. Netrukus po to Falun Dafa apkaltinamas "eretišku mokymu" ir prietarų skleidimu. Kinijos viešojo saugumo ministerija atsako pradėdama nusikaltimų tyrimą, kurio išvada: „Kol kas jokių įrodymų nepateikta”. </p>

<p>Vidiniai Kinijos politinės vadovybės nesutarimai tampa dar akivaizdesni, kadangi valstybinė žiniasklaida vienu metu transliuoja ir teigiamus pranešimus apie Falun Dafa, ir išpuolius prieš Falun Dafa. </p>

<p>Falun Dafa skaičius Kinijoje nuolat auga, o įvairios valdžios institucijos, pavyzdžiui, Kinijos Liaudies kongreso ir Nacionalinės sporto komisijos vyresnieji nariai, rengia vis daugiau šios grupės tardymų.</p>

<blockquote><p>„Falun Dafa turi šimtus privalumų Kinijos žmonėms ir tautai ir nė kiek nekenkia.”</p><cite>— Buvusio Politbiuro nario ir Nacionalinio liaudies kongreso nuolatinio komiteto pirmininko Cjao Ši išvada, prie kurios prisijungė kiti aukšto rango kongreso nariai.</cite></blockquote>

<p><strong>1999 m. vasario 14 d.</strong> - Kinijos nacionalinės sporto komisijos pareigūnas, kalbėdamas su "US News ＆ World Report", apskaičiavo, kad šią praktiką gali būti pradėję praktikuoti iki 100 mln. žmonių. Pareigūnas pabrėžė, kad ši praktika padeda sutaupyti Kinijos nacionalinei sveikatos apsaugos sistemai</p>

<blockquote><p>„Esame įsitikinę, kad Falun Dafa pratimai ir poveikis yra puikūs. Jis nepaprastai daug prisidėjo prie visuomenės stabilumo ir etikos gerinimo. Tai turėtų būti deramai patvirtinta.”</p><cite>— Kinijos nacionalinė sporto komisija, 1998 m. spalio 20 d.</cite></blockquote>
        </div>
    </div>
</section>
<section id="apdovanojimai" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>Visuotiniai apdovanojimai ir pripažinimas</h2>
            </header>
<p>Valdančiajai partijai vis labiau nerimstant dėl požiūrio į Falun Dafa ir po to ėmusis represijų, Falun Dafa ir jo įkūrėjas Li Hundži gavo tūkstančius apdovanojimų ir padėkos raštų iš viso pasaulio. </p>

<p>Li Hundži yra penkis kartus nominuotas Nobelio taikos premijai, o Europos Parlamentas jį nominavo Sacharovo premijai už minties laisvę. Jis yra gavęs "Freedom House" Tarptautinį religinės laisvės apdovanojimą.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/carousel.css" />
    {{ super() }}
{% endblock head %}
{% block scripts %}
    {{ super() }}
    <script src="static/js/carousel.js"></script>
{% endblock scripts %}
{% block next_links %}
<h2 style="padding-left: 1em;">Skaitykite toliau</h2>
<ul class="statistics">
    <li class="style1 link" style="padding: 0;"><a  href="/persekiojimas.html"><div>
        <h3 style="color: white;">Persekiojimas</h3>
        <img src="/static/images/FalunGong_Eve-of-Persecution_Stepping-on-head2-1-1024x576.jpg">
        </div></a></li>
    <li class="style1 link" style="padding: 0;"><a  href="/irodymai.html"><div>
        <h3 style="color: white;">Įrodymai</h3>
        <img src="/static/images/2014-1-12-minghui-painting-fx_default.jpg">
        </div></a></li>
</ul>
{% endblock %}
