{% extends "base.html" %}
{% block nav %}
    <li><a href="#kilme">Kilmė</a></li>
    <li><a href="#mokymas">Mokymas ir įsitikinimai</a></li>
    <li><a href="#knygos">Knygos</a></li>
    <li><a href="#praktika">Praktika</a></li>
    <li><a href="#pripazinimas">Pripažinimas</a></li>
    <li><a href="#ismokti">Išmokti</a></li>
    <li><a href="#duk">DUK</a></li>
{% endblock %}
{% block main %}
<section id="kas_tai" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>Falun Dafa (dar vadinamas Falungun arba Falungong)</h2>
            </header>
<p>Tai yra senovinė budizmo tradicijos praktika.</p>

<p>Falun Dafa derina meditaciją ir švelnius pratimus (panašius į jogą ar taiči) su moraline filosofija, kurios pagrindą sudaro Tiesos, Gerumo ir Kantrybės principai (arba kiniškai Džen 真, Šan 善, Žen 忍). Falun Dafa praktikuotojai siekia gyventi pagal šiuos principus kasdieniame gyvenime.</p>

<p>Tradicinėje kinų kultūroje proto ir kūno tobulinimo ir lavinimo procesas vadinamas „kultivavimu”. Šiuolaikinėje kalboje jam apibūdinti vartojamas žodis cigun.</p>

<p>Falun Dafa nuo kitų ciguno formų skiriasi tuo, kad jame ypač smarkiai akcentuojama žmogaus moralė ir dorovės ugdymas.</p>
            <footer class="major">
                <span class="image_simple">
<img src="/static/images/Falun-Gong_Story-of-Falun-Gong__v1.2-1-1024x440.jpg" title="Iki šiol Tolimuosiuose Rytuose, ypač Taivane ir Vietname, gausiai praktikuojama Falun Dafa. Daugiausia praktikuojančiųjų yra Kinijoje, tačiau dėl persekiojimo jie negali praktikuoti dideliais mastais.">
                </span>
			</footer>
        </div>
    </div>
</section>
<section id="kilme" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Kilmė</h2>
            </header>
    <p><strong>Falun Dafa tai tiesioginis ryšys su tikrąja tradicine kinų kultūra.</strong></p>

    <p>Senovės žmonės tikėjo, kad per disciplinuotą dvasinę praktiką žmogus gali pranokti įprastą egzistenciją. Jie siekė aukštesnės būties būsenos, laisvos nuo kančios ir žemiškojo pasaulio iliuzijų. Norint pasiekti tokią būseną, reikėjo laikytis moralinio teisingumo, atsisakyti žemiškų troškimų ir medituoti, kad pagerėtų protas ir kūnas. Atsirado daugybė disciplinų, teikiančių dvasinio tobulėjimo kelius. Daugelis jų amžiams bėgant buvo slapta perduodamos iš mokytojų mokiniams.</p>

    <p>Falun Dafa yra kilęs iš šios tradicijos ir pritaikytas šiuolaikiniam gyvenimo būdui. Šią praktiką 1992 metų gegužės 13 dieną visuomenei pristatė Li Hundži.</p>

    <p>Žmonės, pradėję praktikuoti Falun Dafa, dažnai iš karto pajunta teigiamą poveikį sveikatai, o kai kurie netgi pasveiksta nuo sunkių ligų. Be to, kinai Falun Dafa mokyme atpažino autentišką dvasinių tradicijų atstovavimą, kurios po dešimtmečius trukusio komunistų valdymo buvo beveik prarastos. Tai sukėlė susižavėjimo šia praktika bangą Kinijoje ir praktika sparčiai plito visoje šalyje.</p>

    <p>Iki 1998 m., praėjus vos šešeriems metams po pirmojo pristatymo visuomenei, oficialiais Kinijos duomenimis, šią praktiką praktikavo 70-100 milijonų žmonių, taigi Falun Dafa tapo sparčiausiai augančia ir populiariausia ciguno praktika Kinijos istorijoje.</p>

                <span class="image_simple">
    <img src="/static/images/WhatisFalunGong__v1.3-1140x490.png" title="Pratimai yra taikūs ir švelnūs. Tai ne mankšta, o darbas su savimi. Įtakos gali turėti net tai, apie ką žmogus galvoja atlikdamas pratimus.">
                </span>

    <p>Tačiau giliau susipažinę praktikuotojai suprato, kad Falun Dafa nėra dar viena eilinė ciguno praktika sveikatai gerinti. Ši praktika iš naujo atrado „senus, gerus senovės Kinijos dalykus”, kaip sakė vienas kinų senukas ir buvęs partijos pareigūnas. Falun Dafa mokymas atgaivino Kinijos tradicinės praeities vertybes: daoizmo stiprybę ir sąžiningumą, budizmo užuojautą ir gerumą, konfucianizmo išmintį teisingai ir tolerantiškai elgtis su žmonėmis ir socialine aplinka.</p>

    <p>Žmonės patyrė tradicinės kinų išminties ir vertybių atgimimą per Falun Dafa, ir tai rado gilų atgarsį visoje Kinijoje.</p>
        </div>
    </div>
</section>
<section id="mokymas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Mokymas ir įsitikinimai</h2>
            </header>
<p>Falun Dafa mokymų esmė -- Tiesos, Gerumo ir Kantrybės vertybės.</p>

    <dl>
        <dt>真</dt>
        <dd>Sakyti tiesą, būti nuoširdu, būti sąžiningu ir aiškiu, būti patikimu ir ištikimu, laikytis duoto žodžio. Būti nepriklausomu ir savarankišku.</dd>

        <dt>善</dt>
        <dd>
Būti maloniam ir supratingam. Rodyti užuojautą, susilaikyti nuo agresijos ir smurto. Nesakyti blogų žodžių. linkėti kitiems gero. Išlaikyti geros širdies ir geros valios.
        </dd>

        <dt>忍</dt>
        <dd>
            Stiprinti valią. Už smūgį neatsakyti smūgiu. Nelaikyti nuoskaudų ir pykčio. Neįsižeisti. Gebėti atsisakyti asmeninių interesų -- tiek materialinių, tiek socialinių.
        </dd>
    </dl>

<p>Senovės kinų mokyklose buvo pabrėžiama, kad siekiant „harmonijos tarp dangaus, gamtos ir žmonių” galima užtikrinti stabilumą ir klestėjimą visuomenėje. Panašiai ir žmogui, einančiam dvasiniu keliu, susiliejimas su pagrindiniais visatos principais (Dao, arba Keliu) ir prisitaikymas prie visatos savybių gali atnešti geresnę psichinę ir fizinę sveikatą, palaiminimą ir įvairių lygių dvasinį pabudimą.</p>

<p>Falun Dafa moko, kad svarbiausią visatos savybę galima apibūdinti tik trimis žodžiais: Džen Šan Žen. Šie trys principai yra Falun Dafa praktikuotojų kasdienio gyvenimo gairės. Tai reiškia, kad kiekvieną dieną jie stengiasi ugdyti šias vertybės savo širdyje, tapdami labiau teisingais, geranoriškais ir kantrais žmonėmis.</p>

                <span class="image_simple">
<img src="/static/images/Studing-Falun-Gong-Dafa-Book__A-1024x576.jpg" title="Zhuan Falun, išvertus iš kinų kalbos, reiškia Įstatymo rato sukimąsi.">
                </span>
        </div>
    </div>
</section>
<section id="knygos" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Knygos</h2>
            </header>
    <p>Falun Dafa mokymai išdėstyti keliuose tekstuose, iš kurių dvi pagrindinės knygos yra <i>Falungun</i> ir <i>Džuan Falun</i>.</p>

    <p>Pagrindinė knyga yra <i>Džuan Falun</i>, kurioje pateikiami visi Falun Dafa praktikos mokymai. Tai paskaitų, kurias ponas Li skaitė Kinijoje 1992-1994 m., rinkinys. 1996 m. ši knyga tapo nacionaliniu bestseleriu Kinijoje.</p>

    <p><i>Džuan Falun</i> iš naujo apibrėžė ciguno ir tobulėjimo praktikos sąvoką Kinijos žmonėms, ir nors aptariami labai gilūs principai, paprasta ir prieinama kalba leido milijonams žmonių žengti tobulinimosi keliu. Knygoje aiškinamas senovinės, bet užmirštos tiesos, įskaitant seniai pamirštą terminą „kultivavimas”, ligų kilmę, nuodėmės sąvoką, moralinio charakterio vaidmenį kelyje į dvasinį tobulumą ir panašiai.</p>

    <p>Falun Dafa knygos išverstos į daugiau nei 40 kalbų. Visą mokomąją medžiagą, įskaitant knygas ir vaizdo įrašus, nemokamai galima rasti svetainėje <a href="https://FalunDafa.org">FalunDafa.org</a>. Išleistų Dafa knygų galima įsigyti <a href="https://FaYuanBooks.com">FaYuanBooks.com</a> arba <a href="https://TiantiBooks.org">TiantiBooks.org</a>. Dėl lietuviško vertimo kopijos susisiekite su mumis.</p>
            <ul class="actions">
                <li><a class="button" href="mailto:falun.dafa@inbox.lt?subject=Apie knyga Džuan Falun">Susisiekti</a></li>
                <li><a class="button" href="/static/images/Zhuan_Falun_Lithuanian.pdf">Atsisuisti PDF</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="praktika" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Ką reiškia praktikuoti Falun Dafa?</h2>
            </header>
    <p>Praktikuoti Falun Dafa -- tai procesas, kurio metu tobulinama širdis ir protas pagal principus Tiesa, Gerumas ir Kantrybė. Palaipsniui atsisakoma nesveikų įpročių ir troškimų. Susidūrus su sunkumais ar konfliktais, Falun Dafa prašo ištverti, nekovoti ir nekaltinti kitų, bet ieškoti trūkumų ir konfliktų priežasčių savyje ir tobulėti.</p>

    <p>Kitos cigungo formos kalba apie skirtingus pasiekimų lygius. Falun Dafa praktikoje žmogaus pažanga siejama tik su jo charakterio tobulinimu.</p>

    <p>Saviugdos procesas, papildytas energetinių pratimų kompleksu ir meditacija. Tai padeda pagerinti sveikatą, pasiekti vidinę ramybę, pakilti išmintį, o pažengus į priekį -- pasiekti įvairius dvasinio pabudimo lygius.</p>

    <p>Falun Dafa mokyme pirminė žmogaus prigimtis laikoma gera, todėl tobulėjimas kartais vadinamas grįžimu į pirminę, tikrąją, gerąją savastį.</p>

    <h3>Penki Falun Dafa pratimai</h3>

<div class="slideshow-container">
    <div style="text-align:center">
        <span class="dot exercise_pictures_dot" onclick="currentSlide(1, 'exercise_pictures')"></span>
        <span class="dot exercise_pictures_dot" onclick="currentSlide(2, 'exercise_pictures')"></span>
        <span class="dot exercise_pictures_dot" onclick="currentSlide(3, 'exercise_pictures')"></span>
        <span class="dot exercise_pictures_dot" onclick="currentSlide(4, 'exercise_pictures')"></span>
        <span class="dot exercise_pictures_dot" onclick="currentSlide(5, 'exercise_pictures')"></span>
    </div>
    <div onclick="plusSlides(1, 'exercise_pictures')">

      <div class="mySlides exercise_pictures fade">
              <div class="numbertext">1 / 5</div>
        <img src="/static/images/Falun-Gong-Dafa-Exercises_E1__1.0-1.png" style="width:100%">
        <div class="carousel_text">Buda ištiesia tūkstantį rankų</div>
      </div>


      <div class="mySlides exercise_pictures fade">
              <div class="numbertext">2 / 5</div>
        <img src="/static/images/Falun-Gong-Dafa-Exercises_E2__1.0.png" style="width:100%">
        <div class="carousel_text">Falun stovėjimo pratimas</div>
      </div>


      <div class="mySlides exercise_pictures fade">
              <div class="numbertext">3 / 5</div>
        <img src="/static/images/Falun-Gong-Dafa-Exercises_E3__1.0.png" style="width:100%">
        <div class="carousel_text">Prasiskverbti į kosminius pakraščius</div>
      </div>


      <div class="mySlides exercise_pictures fade">
              <div class="numbertext">4 / 5</div>
        <img src="/static/images/Falun-Gong-Dafa-Exercises_E4__1.0.png" style="width:100%">
        <div class="carousel_text">Falun dangaus ratas</div>
      </div>


      <div class="mySlides exercise_pictures fade">
              <div class="numbertext">5 / 5</div>
        <img src="/static/images/Falun-Gong-Dafa-Exercises_E5a__1.0.png" style="width:100%">
        <div class="carousel_text">Stebuklingų galių stiprinimas</div>
      </div>

    </div>
</div>

    <p>Cigun yra žmogaus kūno mokslas, kuris Vakaruose dar nėra plačiai ištirtas ir gerai suprastas. Kita vertus, daugelis Rytų praktikų, įskaitant kinų mediciną, jau tūkstančius metų pripažįsta ir tyrinėja gyvybinę energiją ir jos cirkuliaciją kūno energetiniais kanalais. Supratimas apie energetinius kanalus ir tai, kaip juos galima atblokuoti, atverti ir praplėsti, kad jie būtų palankūs sveikatai, yra Rytų tradicinių gydymo sistemų pagrindas.</p>

    <p>Ciguno praktika moko, kaip dirbti su kūno gyvybine energija, kaip pagerinti jos cirkuliaciją organizme, o aukštesniuose lygiuose kalbama apie kūno gyvybinės energijos transformavimą į stipresnę energiją, vadinamą „nuopelnais” (功).</p>

    <p>Ciguno pratimai dažnai būna labai lėti, kartais net visiškai nejudrūs. Falun Dafa praktikoje siūlomi keturi stovimi pratimai, kurie veda energiją per kūną. Penktas pratimas yra meditaciją sėdint.</p>
        </div>
    </div>
</section>
<section id="pripazinimas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Nauda sveikatai</h2>
            </header>
    <p>Kinijoje, Jungtinėse Amerikos Valstijose, Rusijoje ir Australijoje buvo atlikta keletas sveikatos tyrimų, kurie buvo kliniškai kontroliuojami ir recenzuojami pirmaujančiose medicinos įstaigose. Jie pradėjo tirti ir patvirtino teigiamą, o kartais ir įspūdingą naudą sveikatai, kurią daugelis žmonių priskiria šiai praktikai. </p>

    <p>Paprastai žmonės apibūdina tokią naudą: didesnis energijos kiekis ir mažesnis nuovargis, didesnis atsparumas ligoms, geresnis miegas, emocinė pusiausvyra, ramybės jausmas, teigiamas požiūris, geresni santykiai, didesnis savęs pažinimas, gilesnis prasmės pojūtis ir dvasinis augimas.</p>

    <h3>Apdovanojimai ir pripažinimas visame pasaulyje</h3>

    <p>Vyriausybės pareigūnai ir įvairios organizacijos Falun Dafa skyrė daugybę diplomų, apdovanojimų ir proklamacijų. Daugelis Falun Dafa praktikuotojų yra gavę apdovanojimus už nuopelnus savo bendruomenėms ir darbovietėms. </p>

    <p>Praktikos įkūrėjas Li Hongzhi yra keturis kartus nominuotas Nobelio taikos premijai ir Europos Parlamento nominuotas Sacharovo premijai už minties laisvę. Jis taip pat yra gavęs „Freedom House” Tarptautinį religinės laisvės apdovanojimą.</p>

    <div id="awards_pictures">
        <img src="/static/images/Dafa_Awards__01_China-Awards-300x169.png" title="">
        <img src="/static/images/Dafa_Awards__01B_China-Ministry-300x169.png" title="">
        <img src="/static/images/Dafa_Awards__03_Chicago-300x169.png" title="">
    </div>

    <p>Mažai kas žino, kad Falun Dafa ir jo praktikuotojai sulaukė didelio oficialaus pagyrimo Kinijoje, kol 1999 m. neįvyko dramatiškas ir smarkus politinių jėgų pasikeitimas, dėl kurio ši praktika tapo persekiojama. Vietos valdžios institucijų ir asociacijų kvietimu Li skaitė daugiau kaip 50 paskaitų visoje Kinijoje (taip pat Kinijos ambasadose užsienyje).</p>

    <p>1993 metais „The People's Public Security News” -- oficialus Kinijos viešojo saugumo ministerijos laikraštis -- pagyrė poną Li už jo indėlį „skatinant tradicines kinų tautos dorybes užkirsti kelią nusikaltimams, saugant socialinę tvarką ir saugumą bei skatinant visuomenės teisingumą”.</p>

    <p>Jau 1999 m. Kinijos pareigūnai ėmė kiekybiškai vertinti Falun Dafa naudą, pavyzdžiui, vienas Kinijos nacionalinės sporto komisijos pareigūnas, kalbėdamas su „US News ＆ World Report”, pareiškė, kad Falun Dafa „gali padėti kiekvienam žmogui sutaupyti 1000 juanių metinių medicininių išlaidų. Jei ją praktikuoja 100 milijonų žmonių, tai per metus sutaupoma 100 milijardų juanių medicininių mokesčių”. Toliau tas pats pareigūnas pažymėjo, kad „Premjeras Džu Rondzji tuo labai džiaugiasi”.</p>
        </div>
    </div>
</section>
<section id="ismokti" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Kaip išmokti Falun Dafa?</h2>
            </header>

    <p>Apsilankykite svetainėje FalunDafa.org - šioje svetainėje galite peržiūrėti mokomuosius vaizdo įrašus ir išmokti pratimų arba nemokamai atsisiųsti Falun Dafa knygų. Daugeliui naudinga mokytis iš savanorių vietiniame parke.</p>

    <p>Apsilankykite LearnFalunDafa.org - jei pageidaujate mokytis internetu, galite užsiregistruoti į nemokamas internetines pamokas šioje svetainėje.</p>

    <p>Lietuvoje mūsų yra mažai. Džiaugiamės visais, kurie nori susisiekti ir sužinoti daugiau. Rašykite el. paštu arba skambinkite telefonu +370 61722581</p>
            <ul class="actions">
                <li><a class="button" href="mailto:falun.dafa@inbox.lt?subject=Norėčiau susipažinti">Susisiekti</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="pasaulyje" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
    <h2>Falun Dafa visame pasaulyje</h2>
            </header>
    <p>Šiuo metu žmonės praktikuoja Falun Dafa daugiau nei 100 pasaulio šalių.</p>
<div class="slideshow-container">
<div style="text-align:center">
  <span class="dot pasaulis_dot" onclick="currentSlide(1, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(2, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(3, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(4, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(5, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(6, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(7, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(8, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(9, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(10, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(11, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(12, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(13, 'pasaulis')"></span>
  <span class="dot pasaulis_dot" onclick="currentSlide(14, 'pasaulis')"></span>
</div> 
<div onclick="plusSlides(1, 'pasaulis')">
  <div class="mySlides pasaulis fade">
          <div class="numbertext">1 / 14</div>
    <img src="/static/images/rotate2/resized_2018-5-21-mh-paris-dafaday-01_kac1Eai-scaled.jpg" style="width:100%">
    <div class="carousel_text">Paryžius, Prancūzija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">2 / 14</div>
    <img src="/static/images/rotate2/resized_WASHINGTON-DC-20140717_EdwardDai_032.jpg" style="width:100%">
    <div class="carousel_text">Vašingtonas DC, JAV</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">3 / 14</div>
    <img src="/static/images/rotate2/resized_2006-2-11-italy-11.jpg" style="width:100%">
    <div class="carousel_text">Šiaurės, Italija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">4 / 14</div>
    <img src="/static/images/rotate2/resized_2011-4-25-minghui-taiwan-425-02.jpg" style="width:100%">
    <div class="carousel_text">Taipėjus, Taivanas</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">5 / 14</div>
    <img src="/static/images/rotate2/resized_around-the-world-sydney-australia.jpg" style="width:100%">
    <div class="carousel_text">Sidnėjus, Australija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">6 / 14</div>
    <img src="/static/images/rotate2/resized_around_the_world_india.png" style="width:100%">
    <div class="carousel_text">Indija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">7 / 14</div>
    <img src="/static/images/rotate2/resized_2017-5-10-canada-ottawa_03.jpg" style="width:100%">
    <div class="carousel_text">Otava, Kanada</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">8 / 14</div>
    <img src="/static/images/rotate2/resized_2012-5-31-falun-gong-russia-04.jpg" style="width:100%">
    <div class="carousel_text">Maskva, Rusija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">9 / 14</div>
    <img src="/static/images/rotate2/resized_2012-4-18-cmh-japan-2.jpg" style="width:100%">
    <div class="carousel_text">Hirošima, Japonija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">10 / 14</div>
    <img src="/static/images/rotate2/resized_20150513-FalunDafa-SamiraBouaou-9647.jpg" style="width:100%">
    <div class="carousel_text">Bruklinas Niujorke, JAV</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">11 / 14</div>
    <img src="/static/images/rotate2/resized_2018-7-26-germany-parade-720_01.jpg" style="width:100%">
    <div class="carousel_text">Berlynas, Vokietija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">12 / 14</div>
    <img src="/static/images/rotate2/resized_2018-9-28-prague-group-practice_06_haQdCdN.jpg" style="width:100%">
    <div class="carousel_text">Praha, Čekija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">13 / 14</div>
    <img src="/static/images/rotate2/resized_2002-3-29-hellen_practice.jpg" style="width:100%">
    <div class="carousel_text">Atėnai, Graikija</div>
  </div>
  <div class="mySlides pasaulis fade">
          <div class="numbertext">14 / 14</div>
    <img src="/static/images/rotate2/resized_FD__EMP9125_WEB.jpg" style="width:100%">
    <div class="carousel_text">New South Whales, Australija</div>
  </div>
</div>

  <!-- Next and previous buttons -->
  <!-- <a class="prev" onclick="plusSlides(-1, 'pasaulis')">&#10094;</a> -->
  <!-- <a class="next" onclick="plusSlides(1, 'pasaulis')">&#10095;</a> -->
</div>
<br>

        </div>
    </div>
</section>
<section id="duk" class="main">
    <div class="spotlight">
        <div class="content">
 <nav class="accordion arrows">
    <header class="box">
      <label for="acc-close" class="box-title">DUK</label>
    </header>

<input type="radio" name="accordion" id="cb1" />
<section class="box">
  <label class="box-title" for="cb1">Kokie yra Falun Dafa mokymai ir įsitikinimai?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
Falun Dafa esmė yra vertybės - Tiesa, Gerumas, Kantrybė - (arba kiniškai Džen 真, Šan 善 ir Žen 忍). Falun Dafa moko, kad tai yra pačios svarbiausios visatos savybės. Praktikuotojai stengiasi šiuos principus pritaikyti kasdieniame gyvenime medituodami, atlikdami energetinus pratimus ir studijuodami moralės principus iš Džuan Falun.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb2" />
<section class="box">
  <label class="box-title" for="cb2">Ar Falun Dafa yra religija?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
Norint praktikuoti Falun Dafa, nereikia stoti į jokią organizaciją, nėra narystės, hierarchijos ir mokesčių. Kiekvienas, norintis praktikuoti, gali tai daryti neišleisdamas nė cento, privačiai savo namuose ir nereikalaudamas niekieno pagalbos ar pritarimo.
    </p><p>
Ši praktika turi dvasinius mokymus ir įsitikinimus, panašius į tuos, kuriuos galima rasti religijoje, ir ji turi kai kuriuos bendrus siekius su grupėmis, kurios oficialiau vadinamos religijomis, įskaitant moralinio savęs išaukštinimo ar dvasinio pabudimo siekį.
    </p><p>
Pagal daugelio Vakarų šalių įstatymus Falun Dafa laikomas religija arba saugomu tikėjimu. Tačiau Falun Dafa nėra institucionalizuotas; jis neturi jokių oficialių iniciacijos priemonių, oficialaus tikėjimo išpažinimo, pamaldumo praktikos ir panašiai.
    </p><p>
Falun Dafa nėra nei politinė, nei verslo organizacija. Visą mokomąją medžiagą galima nemokamai rasti internete, o savanoriai taip pat nemokamai veda visus užsiėmimus.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb3" />
<section class="box">
  <label class="box-title" for="cb3">Falun -- Falun Dafa simbolis</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
    </p><div style="display: flex; justify-content: center;"><img style="max-width: 150px;" src="/static/images/Falun.png"></div><p>
    </p><p>
Falun Dafa emblema vadinama „Falun” - kinų kalbos terminas, kuris laisvai verčiamas kaip „Įstatymo ratas”. Jį sudaro du pagrindiniai elementai: in-jang simboliai, kurie yra daoistinio pobūdžio. Taip pat srivatsa (sanskr.), kurie yra budistiniai. Srivasta, arba svastika, kaip ji vadinama angliškai, dažnai sutinkama Azijos budizme. 
    </p><p>
Azijos kultūroje neigiamos svastikos konotacijos, siejamos su Hitleriu ir naciais, yra palyginti nežinomos. Iš tikrųjų svastika daugelyje kultūrų turi tūkstantmečius siekiančią istoriją ir yra laikoma laimės simboliu.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb4" />
<section class="box">
  <label class="box-title" for="cb4">Kas praktikuoja Falun Dafa?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
1992 m. Falun Dafa pirmą kartą buvo viešai paskelbtas Kinijoje ir ten plačiai išpopuliarėjo, šią praktiką taip pat pradėjo praktikuoti žmonės visame pasaulyje. Šiandien Falun Dafa praktikuojama daugiau kaip 80 pasaulio šalių. Falun Dafa knygos išverstos į 40 kalbų.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb5" />
<section class="box">
  <label class="box-title" for="cb5">Kiek žmonių praktikuoja Falun Dafa?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
1999 m. pradžioje Kinijos vyriausybės pareigūnai ir valstybinė žiniasklaida teigė, kad Kinijoje Falun Dafa praktikuoja 70-100 mln. žmonių, todėl tuo metu tai buvo sparčiausiai auganti religija pasaulyje. Nors Kinijos komunistų partija pradėjo persekiojimo kampaniją, siekdama „išnaikinti” Falun Dafa, vis dėlto žmogaus teisių organizacijos mano, kad visoje Kinijoje ir toliau praktikuoja dešimtys milijonų žmonių. Falun Dafa praktikuotojų taip pat yra daugiau kaip 100 pasaulio šalių, tačiau dėl to, kad nėra narystės, sunku pateikti tikslius skaičius.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb6" />
<section class="box">
  <label class="box-title" for="cb6">Kas pradėjo Falun Dafa?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
Falun Dafa viešai paskelbė Li Hongzhi. Iš Čančunio (Kinija) kilęs, o dabar JAV gyvenantis Li yra penkis kartus nominuotas Nobelio taikos premijai ir Europos Parlamento nominuotas Sacharovo premijai už minties laisvę. Jis taip pat yra gavęs "Freedom House" Tarptautinį religinės laisvės apdovanojimą.
    </p></div>
</section>


<input type="radio" name="accordion" id="cb7" />
<section class="box">
  <label class="box-title" for="cb7">Kuo skiriasi Falungun ir Falun Dafa?</label>
  <label class="box-close" for="acc-close"></label>
  <div class="box-content"><p>
„Falungun” yra kitas "Falun Dafa" pavadinimas. Jie reiškia tą patį dalyką - dvasinę praktiką, kilusią iš Kinijos. „Falun Dafa” yra oficialus praktikos pavadinimas, o „Falungun” yra labiau šnekamosios kalbos terminas, išpopuliarėjęs Kinijoje.
    </p></div>
</section>
  </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/carousel.css" />
    <link rel="stylesheet" href="/static/css/acordion.css" />
{% endblock head %}
{% block scripts %}
    {{ super() }}
    <script src="static/js/carousel.js"></script>
{% endblock scripts %}
{% block next_links %}
<h2 style="padding-left: 1em;">Skaitykite toliau</h2>
<ul class="statistics">
    <li class="style1 link" style="padding: 0;"><a  href="/persekiojimas.html"><div>
        <h3 style="color: white;">Persekiojimas</h3>
        <img src="/static/images/FalunGong_Eve-of-Persecution_Stepping-on-head2-1-1024x576.jpg">
        </div></a></li>
    <li class="style1 link" style="padding: 0;"><a  href="/istorija.html"><div>
        <h3 style="color: white;">Istorija</h3>
        <img src="/static/images/2013-12-4-minghui-paint-guihang.jpg">
        </div></a></li>
</ul>
{% endblock %}
