{% extends "base.html" %}
{% block nav %}
    <li><a href="#kodel">Kodėl</a></li>
    <li><a href="#populiarumas">Populiarumas</a></li>
    <li><a href="#nepriklausomybe">Nepriklausomybe</a></li>
    <li><a href="#ideologija">Ideologija</a></li>
    <li><a href="#pavydas">Partijos lyderio pavydas</a></li>
{% endblock %}

{% block main %}
<section id="kodel" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
            <h2>KLR vyksta žiaurus persekiojamas prieš Falun Dafa</h2>
            </header>
            <p><strong>
            Praėjus vos septyneriems metams po to, kai Falun Dafa buvo pristatytas
            visuomenei Kinijoje, jis labai išgarsėjo visoje šalyje bet galiausiai tapo didžiausiu
            Kinijos komunistų partijos (KKP) priešu.
            </strong></p>

            <p>
1999 m. liepos mėnesį buvo surengta žiauri operacija, nukreipta prieš 100 milijonų Falun Dafa praktikuotojų, bei jų giminaičius, draugus ir bendradarbius. Drakoniškų represijų metu visoje Kinijoje buvo deginamos knygos, masiškai suimami ir kalinami žmonės, kankinami ir priverstinai perauklėjami. Beveik visi Kinijos gyventojai tapo taikiniais arba buvo priversti prie to prisidėti. Dalykai kokių nebuvo net nuo kultūrinės revoliucijos laikų.
            </p>

            <h4>
Bet kodėl? Kas lėmė žiaurų represijų pradžią? 
            </h4>
            <ol>
        <li>Didžiulis Falun Dafa populiarumas ir spartus augimas, viršijantis KKP narių skaičių</li>
        <li>Visiška Falun Dafa nepriklausomybė nuo KKP kontrolės</li>
        <li>Falun Dafa pagrindiniai principai, nesuderinami su komunistine, ateistine ideologija</li>
        <li>Politinio biuro vadovo pavydas ir politiniai motyvai</li>
            </ol>
        </div>
    </div>
</section>
<section id="populiarumas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>1. Didžiulis Falun Dafa populiarumas ir spartus augimas</h2>
            </header>
<p>Praėjus vos septyneriems metams nuo Falun Dafa pristatymo visuomenei, jis tapo populiariausia ciguno praktika Kinijos istorijoje. Iki 1998 m. Falun Dafa praktikuotojų skaičius viršijo komunistų partijos narių skaičių.</p>

<p>Falun Dafa pritraukė žmones iš visų visuomenės sluoksnių - nuo ūkininkų iki universitetų profesorių, nuo kultūros elito iki aukšto rango kariškių ir policijos pareigūnų. Šios praktikos mokėsi net KKP centrinio politbiuro - aukščiausio šalies KKP valdymo organo - šeimos nariai.</p>

<img src="/static/images/Origins-GuangzhouPractice-1024x550.jpg" title="90-ųjų viduryje savaitgalinės Falun Dafa pratimų vietos su tūkstančiais dalyvių, kaip ši Guangdžou, buvo įprastos visoje Kinijoje.">

    <h3>70-100 milijonų</h3>
<p>1998 m. Kinijos valstybinės sporto komisijos atlikto tyrimo duomenimis, tuo metu Kinijoje Falun Dafa praktikavo daugiau nei 70 milijonų žmonių. Maždaug tuo pačiu metu Kinijos valstybinė televizija parodė naujienų laidą, kurioje laidos vedėjas žiūrovams sakė, kad "Falun Dafa mokosi daugiau kaip 100 milijonų žmonių". Tai reikštų, kad tuo metu 1 iš 13 šalies gyventojų praktikuoja Falun Dafa.</p>

<p>Kai kurie KKP vadovai tokį didelį ir nuolat augantį skaičių laikė grėsme, ypač todėl, kad šie skaičiai viršijo tuo metu buvusius 60 milijonų KKP narių.</p>
        </div>
    </div>
</section>
<section id="nepriklausomybe" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>2. Falun Dafa yra pilnai nepriklausomas nuo Kinijos komunistų kontrolės</h2>
            </header>
<p>Komunizmas, kaip totalitarinė ideologija, kontroliuoja visus žmonių gyvenimo aspektus, įskaitant tai, ką jie gali galvoti ir kuo tikėti. Kinijoje visos bažnyčios, šventyklos ir net sveikatos priežiūros įstaigos gali veikti tik su KKP pritarimu ir kontrole. Taigi, kai Kinijoje visuomenei pirmą kartą buvo pristatytas Falun Dafa, tai taip pat turėjo būti daroma globojant valstybinei Kinijos ciguno mokslo tyrimų asociacijai.</p>

<p>Falun Dafa įkūrėjas Li Hundži keliavo po Kiniją ir skaitė paskaitas tik dvejus metus, 1992-1994 m. Vėliau praktika toliau sparčiai plito iš lūpų į lūpas ir per neoficialų vietinių savanorių tinklą, kurie mokė pratimus viešose pratybų vietose.</p>

<p>Greitas ir laisvas Falun Dafa skleidimas viešumoje. Savanoris moko praeivius gatvėje Falun Dafa meditacijos rankų judesių. Falun Dafa tarp žmonių plito daugiausia iš lūpų į lūpas, taip pat nemokamai, greitai pasiekdamas dešimtis milijonų praktikuojančiųjų visoje Kinijoje.</p>

<img src="/static/images/Falun-Gong-Story_Rise-of-Falun-Gong_Teaching-Falun-Gong-on-the-street-1024x576.jpg" title="Greitas ir laisvas Falun Dafa skleidimas viešumoje. Savanoris moko praeivius gatvėje Falun Dafa meditacijos rankų judesių. Falun Dafa tarp žmonių plito daugiausia iš lūpų į lūpas, taip pat nemokamai, greitai pasiekdamas dešimtis milijonų praktikuojančiųjų visoje Kinijoje.">

<p>1996 m. Falun Dafa pasitraukė iš valstybinės Kinijos Ciguno mokslo tyrimų asociacijos dėl spaudimo įsteigti Komunistų partijos skyrių ir imti mokesčius už praktiką.</p>

<p>Ponas Li norėjo, kad praktika liktų laisva nuo politinės įtakos. Jis taip pat norėjo, kad ji išliktų asmenine praktika, kuriai nėra oficialios narystės ir kuria visada dalijamasi nemokamai.</p>

<p>Taigi Falun Dafa tapo didžiausia grupe, nepriklausančia Kinijos komunistų partijos kontrolei.</p>
        </div>
    </div>
</section>
<section id="ideologija" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>3. Falun Dafa pagrindiniai principai nesuderinami su komunistine ir ateistine ideologija</h2>
            </header>
<p>1949 m. užgrobusi valdžią, KKP jėga primetė Kinijos žmonėms komunistinius idealus, ypač per audringą „kultūrinę revoliuciją”. Ši prievartinė indoktrinacija pakeitė giliai dvasinę kinų kultūrą ateizmo, materializmo ir kovos ideologija -- mokė žmones „rasti džiaugsmą” kovojant su dangumi, gamta ir vieni su kitais.</p>

<p>Falun Dafa mokymas, priešingai, iš naujo diegė senovinę dvasinio tobulėjimo išmintį, tikėjimą dieviškumu ir tradicines vertybes, kurios tūkstantmečius palaikė Kinijos civilizaciją. Pagrindiniai Falun Dafa principai -- Tiesa, Gerumas ir Kantrybė -- buvo visiška priešingybė komunistinei kultūrai, kuri valdo apgaule ir kova.</p>

<p>Trumpai tariant, KKP vadovai baiminosi, kad tvirtas Falun Dafa moralinis kodeksas gali pakenkti smurtinei stalininei partijos taktikai kontroliuoti visuomenę.</p>
        </div>
    </div>
</section>
<section id="pavydas" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
<h2>4. Politbiuro lyderio pavydas ir politiniai motyvai</h2>
            </header>
<p>Buvęs KKP lyderis asmeniškai suplanavo, pradėjo ir kontroliavo Falun Dafa likvidavimo operaciją, nors kiti vyresnieji vadovai jai priešinosi. Jis taip elgėsi žūtbūtinai bandydamas sustiprinti savo galią.</p>

<p>1989 m. Dzan Dzeminas tapo KKP vadovu daugiausia dėl to, kad palaikė Tiananmenio žudynes, tačiau partijos viduje turėjo labai mažai palaikymo. Buvęs Šanchajaus meras, Dzanas turėjo reputaciją, kad "stengiasi atrodyti naudingas, bet nieko nedaro". Net ir visuomenėje Dzanas tapo pajuokos objektu dėl daugelio gėdingų pasisakymų kitų pasaulio lyderių akivaizdoje.</p>

<p>Nors asmeninis Dzano įvaizdis kentėjo, o jo padėtis partijoje išliko nestabili, Falun Dafa sparčiai augo, sulaukdamas pagyrimų visoje Kinijoje, tuo tarpu ir iš daugelio vyriausybinių institucijų. Be to, Falun Dafa pradėjo atgaivinti tradicines vertybes, kurias komunistinis režimas dešimtmečius stengėsi užgniaužti.</p>

<p>Daugelio aplinkinių pareigūnų teigimu, Dzanas netėko vilties.</p>

<p>Siekdamas sustiprinti savo valdžią ir sunaikinti tradicinių vertybių atgimimą, Dzanas ėmėsi taktikos, kurią praeityje naudojo daugelis KKP lyderių. Jis pradėjo smurtinę kampaniją prieš vieną Kinijos visuomenės dalį, siekdamas ją išnaikinti, kartu gąsdindamas likusią visuomenės dalį, kad ši paklustų.</p>

<blockquote><p>„Susidorojimo [su Falun Dafa] buvo imtasi siekiant pademonstruoti ir įtvirtinti Kinijos vadovybės galią… Komunistų partijos šaltiniai teigė, kad politbiuro nuolatinis komitetas vienbalsiai nepritarė represijoms ir kad prezidentas Dzan Dzeminas vienas nusprendė, kad Falun Dafa turi būti sunaikintas.”</p><cite>—Washington Post, 1999</cite></blockquote>

<p>Komunistų partijos šaltiniai teigė, kad politbiuro vienbalsiai nepritarė represijoms ir kad Dzanas vienas nusprendė, kad Falun Dafa turi būti sunaikintas. Cituojant vieną partijos pareigūną, tame pačiame straipsnyje pažymima, kad „akivaizdu, jog tai labai asmeniška Dzanui”.</p>

<p>2001 m. vasario mėn. straipsnyje tuometinis CNN vyresnysis Kinijos analitikas Willy Lam rašė, kad Jiangas „atrodo, jog naudojasi masiniu judėjimu, kad skatintų ištikimybę sau”.</p>

<p>Praėjus daugiau nei dvidešimčiai metų persekiojimas tebesitęsia.</p>
        </div>
    </div>
</section>
{% endblock %}
{% block next_links %}
<h2 style="padding-left: 1em;">Skaitykite toliau</h2>
<ul class="statistics">
    <li class="style1 link" style="padding: 0;"><a  href="/kas_tai.html"><div>
        <h3 style="color: white;">Kas tai Falun Dafa</h3>
        <img src="/static/images/2020-12-9-taiwan-paizi_01_low.jpg">
        </div></a></li>
    <li class="style1 link" style="padding: 0;"><a  href="/istorija.html"><div>
        <h3 style="color: white;">Istorija</h3>
        <img src="/static/images/2013-12-4-minghui-paint-guihang.jpg">
        </div></a></li>
</ul>
{% endblock %}
